<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>我的</title>
		<meta name="keywords" content="KEYWORDS..." />
		<meta name="description" content="DESCRIPTION..." />
		<meta name="author" content="DeathGhost" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name='apple-touch-fullscreen' content='yes'>
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/style.css" />
		<script src="__STATIC__/index/js/jquery.js"></script>
		<style>
			.addclasstruenav{color: #3acd17;}
		</style>
	</head>

	<body>
		
		<div class="w100 margin01rem">
			<img class="w100" src="__STATIC__/index/img/aboutbanner.png" />
		</div>
		<div class="clearfix integral-title" style="text-align: center;">
			<span>
			<h2 class="f032 text-center padb03 bg-fff font-weight400 color999">积分</h2>
			<h1 class="f042 text-center bg-fff"><em class="">{$user.credit1}</em></h1>		
			</span>
				<span>
				<h2 class="f032 text-center padb03 bg-fff font-weight400 color999">余额</h2>
				<h1 class="f042 text-center bg-fff"><em class="">{$user.credit2}</em></h1>		
			</span>
		</div>
		<ul class="inforList">
			<li>
				<a href="about-integral.html" class="isNext">
					<span><em><img src="__STATIC__/index/img/about1.png"></em>我的积分</span>
					<span></span>
				</a>
			</li>
			<li>
				<a href="about-coupon.html" class="isNext">
					<span><em><img style="height: 0.43rem;"  src="__STATIC__/index/img/about2.png"></em>我的优惠券</span>
					<span></span>
				</a>
			</li>
			<li>
				<a href="edit-address.html" class="isNext">
					<span><em><img src="__STATIC__/index/img/about3.png"></em>送餐地址</span>
					<span></span>
				</a>
			</li>
			<li>
				<a href="other.html" class="isNext">
					<span><em><img src="__STATIC__/index/img/about4.png"></em>其他信息</span>
					<span></span>
				</a>
			</li>
			<li>
				<a href="mobile-phone.html" class="isNext">
					<span><em><img src="__STATIC__/index/img/about5.png"></em>绑定手机</span>
					<span></span>
				</a>
			</li>
		</ul>
		{include file="public/footer"}
	</body>

</html>